<h2>Liste des emp</h2>
<table>
  <thead>
    <tr>
     <th>idEmp </th> 
 	<th>nom </th> 
 	
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uneligne of emp">
     <td>{{uneligne.idEmp}}</td> 
 	<td>{{uneligne.nom}}</td> 
 	
      <td>
        <button (click)="deleteEmp(uneligne.idEmp)">Supprimer</button>
        <button (click)="empSelectionne = uneligne">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Ajouter un nouvel empt</h2>
<form (submit)="insertEmp()">
<label>Nom</label> 
<input type='string' [(ngModel)]='nouvelEmp.nom' name='nom'> 

  <button type="submit">Ajouter</button>
</form>
<h2>Modifier un emp</h2>
<form *ngIf="empSelectionne.idEmp" (submit)="updateEmp()">
  <input type='hidden' [(ngModel)]='empSelectionne.idEmp' name='idEmp'> 
<label>Nom</label> 
<input type='string' [(ngModel)]='empSelectionne.nom' name='nom'> 

  <button type="submit">Enregistrer</button>
</form>


