<h2>Liste des dept</h2>
<table>
  <thead>
    <tr>
     <th>idDept </th> 
 	<th>nomDept </th> 
 	
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uneligne of dept">
     <td>{{uneligne.idDept}}</td> 
 	<td>{{uneligne.nomDept}}</td> 
 	
      <td>
        <button (click)="deleteDept(uneligne.idDept)">Supprimer</button>
        <button (click)="deptSelectionne = uneligne">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Ajouter un nouvel deptt</h2>
<form (submit)="insertDept()">
<label>NomDept</label> 
<input type='string' [(ngModel)]='nouvelDept.nomDept' name='nomDept'> 

  <button type="submit">Ajouter</button>
</form>
<h2>Modifier un dept</h2>
<form *ngIf="deptSelectionne.idDept" (submit)="updateDept()">
  <input type='hidden' [(ngModel)]='deptSelectionne.idDept' name='idDept'> 
<label>NomDept</label> 
<input type='string' [(ngModel)]='deptSelectionne.nomDept' name='nomDept'> 

  <button type="submit">Enregistrer</button>
</form>


