<h2>Liste des [classNameMin]</h2>
<table>
  <thead>
    <tr>
     [attributs]
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uneligne of [classNameMin]">
     [valeurs]
      <td>
        
        <button (click)="[classNameMin]Selectionne = [classNameMin]">Modifier</button>
      </td>
    </tr>
  </tbody>
</table>

<h2>Ajouter un nouvel [classNameMin]t</h2>
<form (submit)="insert[classNameMaj]()">
  <button type="submit">Ajouter</button>
</form>

